.techfont{
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.newpostfont {
  font-family: 'Playfair Display', sans-serif;
  font-size: 3em;
}

.postdate{
  text-align: center;
}

.main-header{
  font-size: 4em;
  text-align: center;
}

.sub-header {
  font-size: 3em;
  text-align: center;
  font-style: italic;
}

.posttitle{
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  text-align: center;
}

.postcontent{
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
}

.centerstage{
  margin-left: auto;
  margin-right: auto;
}

.btn-comment{
  position: absolute;
  right: 0px;
}

.bigbrand{
  font-size: 1.5em;
}

.name-header{
  height: 400px;
  background: url("media/cool-background.png");
  padding-top: 50%;
  padding-bottom: 50%;
  color: white;
  width: 100%;
}

.nav-header {
  background: white;
}

/*COLOR CHANGER*/
/*Credit and Source: http://codepen.io/thapliyalshivam/pen/dvgXVO*/
.loader{
  filter:hue-rotate(0deg);
  color: linear-gradient(45deg,#0f8,#08f);
  animation:hue 5000ms infinite linear;
}

@keyframes spinify {
  0% {
    transform: translate(0px,0px);

  }
  33% {
    transform: translate(0px,24px);
    border-radius:100%;
    width:10px;
    height:10px;

  }
   66% {
    transform:translate(0px,-16px);
  }

   88% {
    transform:translate(0px,4px);

  }
  100% {
    transform:translate(0px,0px);
  }
}
@keyframes hue{
  0%{filter: hue-rotate(0deg);}
  100%{filter:hue-rotate(360deg);}

}
